*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    border: none;
    list-style: none;
    text-decoration: none;
}

.container{
    width: 90%;
    margin: 0 auto;
}
a{
    color: white;
}
nav{
    position: fixed;
    width: 100vw;
    display: flex;
    background-color: blue;
    height: 5rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.4rem;
    top: 0;
    left: 0;
    right: 0;
}
nav .cart{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav #count{
    position: absolute;
    top: -1rem;
    font-weight: 600;
    color: red;
    right: 3rem;
    padding: 1px;
    font-size: 1.4rem;

}
main{
    margin-top: 6rem;
}
main .users {
    width: 100%;
    display: grid;
    gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

}
main .users .user{

    border: 1px solid gray;
    background-color: #e9e9e9;
}
main .users .user > div{
    display: flex;
    align-items: start;
    padding: 1.5rem;
    gap: 1rem;
}

main .users .user div{
    font-size: 1.2rem;
    font-weight: 600;
}
main .users .user button{
    width: 100%;
    padding: 0.8rem 0.7rem;
    color: white;
    font-weight: 600;
    background-color: red;
    cursor: pointer;
}